<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Auto Location Sender</title>
</head>
<body>
  <h1>🌍 Sending Your Location...</h1>
  <div id="status">Fetching location...
    <div>
        <p><%=data.lon%></p>
        <p><%=data.lat%></p>

        <p><%=data.country%></p>

        <p><%=data.region%></p>
        <p><%=data.city%></p>
        <!-- <p><%=data.lon%><%=data.lat%></p> -->

    </div>
  </div>

  
</body>
</html>
